# --- LLM & API Integrations ---
google-generativeai==0.8.3

# --- Vector Database ---
qdrant-client==1.12.0

# --- User Interface ---
gradio==5.4.0
huggingface-hub==0.25.2

# --- Configuration & Validation ---
pydantic==2.9.2
pydantic-settings==2.6.0
python-dotenv==1.0.1

# --- Observability & Evaluation ---
langfuse==2.53.0

PyYAML==6.0.1

langchain-google-genai==2.0.1